<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.smbms.dao.bill.BillMapper">
	<!-- 查询订单表信息 -->
	<select id="getBillList"  resultType="Bill" >
		select *  from smbms_bill   
		<trim prefix="where" prefixOverrides="and | or">
		<if test="productName !=null and productName !=''">
			and productName like CONCAT ('%',productName,'%')
		</if>
		<if test="providerId !=null and providerId !=0">
			and providerId = #{providerId}
		</if>
		<if test="isPayment !=null and isPayment !=0">
			and isPayment = #{isPayment}
		</if>
	</trim>
	</select>
	
	<!-- 根据id查询订单 -->
	<select id="getBillById" resultType="Bill">
		select * from smbms_bill where id = #{id}
	</select>
	
	<!-- 修改订单 -->
	<update id="modify" parameterType="Bill">
		update smbms_bill 
			<set>
				<if test="billCode != null">billCode = #{billCode},</if>
				<if test="productName != null">productName = #{productName},</if>
				<if test="productDesc != null">productDesc = #{productDesc},</if>
				<if test="productUnit != null">productUnit = #{productUnit},</if>
				<if test="productCount != null">productCount = #{productCount},</if>
				<if test="totalPrice != null">totalPrice = #{totalPrice},</if>
				<if test="isPayment != null">isPayment = #{isPayment},</if>
				<if test="modifyBy != null">modifyBy = #{modifyBy},</if>
				<if test="modifyDate != null">modifyDate = #{modifyDate},</if>
				<if test="providerId != null">providerId = #{providerId},</if>
			</set>
			where id = #{id}
	</update>
	<!-- 根据id删除订单 -->
	<delete id="deleteBillById" parameterType="Integer">
		delete from smbms_bill where id = #{id}
	</delete>
	<!-- 增加订单 -->
	<insert id="add" parameterType="Bill">
		insert into smbms_bill (billCode,productName,productDesc,productUnit,
				productCount,totalPrice,isPayment,createdBy,creationDate,providerId) 
				values(#{billCode},#{productName},#{productDesc},#{productUnit},
				#{productCount},#{totalPrice},#{isPayment},#{createdBy},#{creationDate},#{providerId})
	</insert>
</mapper>